body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.grp-handler-cp-c {
  margin-left: -20px;
}

.default-container {
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.toolbar {
  line-height: 0;
  background-color: #F2F2F2;
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar button {
  width: 64px;
  height: 54px;
  opacity: 0.55;
  clear: both;
  border: 0;
  border-radius: unset;
  outline: none;
}

.toolbar button.active,
.toolbar button:hover {
  opacity: 1;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  box-shadow: inset 5px 0 10px 0 rgba(50, 50, 50, 0.1);
}

.toolbar button img,
.toolbar button svg {
  width: 22px;
  height: 22px;
}

.main-panel {
  height: calc(100% - 54px);
  display: flex;
  position: relative;
}

.floating-zoom-level-container {
  position: absolute;
  z-index: 10000;
  background: white;
  padding: 10px 20px;
  bottom: 0;
  right: 0;
  border: 1px solid #CCC;
}

.canvas-holder {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
}

.canvas-container {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVQ4jWNgYGAQIYAJglEDhoUBg9+FowbQ2gAARjwKARjtnN8AAAAASUVORK5CYII=");
  background-size: 30px 30px;
  border: 1px solid #CCC;
  margin: auto;
}

.toolpanel {
  background-color: #F9F9F9;
  width: 300px;
  top: 0;
  left: 0;
  height: 100%;
  border: 1px solid #DDD;
  transition: all 0.4s;
  box-sizing: border-box;
  text-align: left;
  font-size: 13px;
  color: #777;
  display: none;
  position: absolute;
  z-index: 9999;
}

.toolpanel.closed {
  left: -300px;
}

.toolpanel.visible {
  display: initial;
}

.toolpanel .content {
  padding: 20px;
  position: relative;
  height: -webkit-fill-available;
  height: -ms-fill-available;
  height: fill-available;
  height: -moz-fill-available;
}

.toolpanel .title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #DDD;
  color: #333;
  text-transform: uppercase;
}

.toolpanel .content .hide-show-handler {
  position: absolute;
  top: calc(50% - 40px);
  right: -42px;
  width: 40px;
  height: 80px;
  background: #F9F9F9;
  border: 1px solid #DDD;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  background-image: url('/lib/caret-left.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.toolpanel.closed .content .hide-show-handler {
  background-image: url('/lib/caret-right.svg');
}

.spectrum.with-add-on {
  width: 40px;
}

#shapes-panel .button {
  cursor: pointer;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 9px;
}

#background-panel .canvas-size-setting input {
  width: 60px;
  background-color: #FFF;
  border-radius: 6px;
  border: 2px solid #E4E4E4;
  padding: 4px 10px;
  line-height: 18px;
  font-size: 13px;
}

#select-panel .text-section .style button,
#select-panel .alignment-section button,
#select-panel .object-options button {
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: #FFF;
  border: 1px solid #DDD;
  text-align: center;
  outline: none;
}

#select-panel button svg {
  opacity: 0.7;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

#select-panel .text-section .style,
#select-panel .text-section .family,
#select-panel .text-section .sizes,
#select-panel .text-section .align,
#select-panel .text-section .color {
  margin-bottom: 20px;
}

#select-panel .text-section .sizes input {
  width: 50px;
}

.toolpanel#select-panel .text-section,
.toolpanel#select-panel .effect-section {
  display: none;
}

.toolpanel#select-panel.type-group .border-section {
  display: none;
}

.toolpanel#select-panel.type-group .fill-section {
  display: none;
}

.toolpanel#select-panel.type-textbox .text-section {
  display: block;
}

.toolpanel#select-panel.type-textbox .fill-section {
  display: none;
}

.toolpanel#select-panel.type-image .effect-section {
  display: block;
}

.toolpanel#select-panel.type-image .fill-section {
  display: none;
}

.custom-modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background: white;
  width: max-content;
  padding: 20px;
}

.custom-modal-content .button-download {
  border: 1px solid #CCC;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
}

.custom-modal-content .button-download:hover {
  background: #CCC;
  transition: 0.3s;
}

.toolpanel .input-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toolpanel .input-container label {
  width: 50%;
}

.toolpanel .input-container select {
  width: 50%;
  height: 29px;
  border: 1px solid #CCC;
  border-radius: 5px;
  outline: none;
}

.toolpanel .input-container .sp-replacer {
  width: 50%;
}

.toolpanel .input-container .custom-number-input {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  padding: 1px;
  height: 30px;
  background-color: #E4E4E4;
  border-radius: 6px;
  text-align: center;
}

.toolpanel .input-container .custom-number-input button {
  width: 36px !important;
  height: 30px !important;
  background-color: #FFF;
  background-clip: padding-box;
  border-radius: 6px;
  color: #333;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.toolpanel .input-container .custom-number-input input {
  height: 30px !important;
  width: 60px !important;
  background: transparent !important;
  border: none;
  outline: none;
  text-align: center;
}

.toolpanel .input-container .custom-number-input input::-webkit-outer-spin-button,
.toolpanel .input-container .custom-number-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.toolpanel .input-container .custom-number-input input[type=number] {
  -moz-appearance: textfield;
}

.tab-container .tabs {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.tab-container .tabs .tab-label {
  font-size: 16px;
  cursor: pointer;
}

.tab-container .tabs .tab-label.active {
  color: black;
}

.gradient-orientation-container {
  padding-top: 40px;
}

.drag-drop-input {
  background-color: #FFF;
  width: 100%;
  box-sizing: border-box;
  border: 2px dashed #CCC;
  border-radius: 6px;
  text-align: center;
  padding: 120px;
}

.drag-drop-input.dragging {
  border-color: #4368A9;
}

#tip-container {
  padding: 10px;
  text-align: center;
  touch-action: none;
  cursor: default;
  color: #888;
}

/*------ TOPBAR // Logo */
#topbar {
  display: flex;
  background-color: #034986;
  padding-left: 8px;
  height: 55px;
  padding-top: 8px;
  width: 100%;
  color: #FFFFFF;
}

.controlTop {
  display: flex;
}

.logotop {
  padding-right: 15px;
}

.ifield1 {
  width: 260px !important;
  margin-right: 20px;
  height: 50px;
  position: absolute;
  right: 0px;
}

#topbar button.previewButton {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #252525;
  border: none;
  outline: none;
  margin-right: 20px;
  /*margin-bottom: 20px;*/
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  height: 48px;
  position: absolute;
  right: 620px;
}

#topbar button.pngDownload {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #252525;
  border: none;
  outline: none;
  margin-right: 20px;
  /*margin-bottom: 20px;*/
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  height: 48px;
  position: absolute;
  right: 280px;
}

.showani {
  width: 120px;
}

input[type="text"],
textarea {
  background-color: #EEE;
  border: none;
  border-radius: 0.125em;
  display: block;
  font: inherit;
  font-size: 1.5em;
  line-height: 2em;
  /*margin: 0.5em auto;*/
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  display: flex;
}

input[type="text"][required] {
  background-image: linear-gradient(45deg, transparent, transparent 50%, orange 50%, orange 100%);
  background-position: top right;
  background-size: 0.5em 0.5em;
  background-repeat: no-repeat;
}

/*------ INFO  VIDEO*/
.infohelpvideo {
  margin-right: 10px;
}

.infovideo {
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  line-height: 48px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #FFF;
  animation-name: blinkinfo;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes blinkinfo {
  0% {
    color: #FFF;
  }
  
  50% {
    color: #F27722;
  }
  
  100% {
    color: #FFF;
  }
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  
  40% {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px 3px #94D6EA, 0 0 0 3px rgba(255, 255, 255, 0.5);
  }
  
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px 3px #94D6EA, 0 0 0 3px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  
  40% {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #94D6EA, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #94D6EA, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  
  40% {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px 3px #94D6EA, 0 0 0 3px rgba(255, 255, 255, 0.5);
  }
  
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 3px 3px #94D6EA, 0 0 0 3px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

/*-----  DOWNLOAD*/
a {
  color: #FFF;
  text-decoration: none;
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  position: absolute;
  right: 410px;
}

.downloadbtn {
  height: 50px;
  line-height: 50px;
  width: 200px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #3BB44A;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.previewbtn {
  margin-right: 20px;
  height: 50px;
  line-height: 50px;
  width: 200px;
  text-align: center;
  color: #333;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #FFF;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.downloadbtn:before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #3BB44A;
}

.downloadbtn.loading {
  height: 3px;
  padding: 0px 35px;
  background-color: #DDD;
}

.downloadbtn.loading:before {
  animation: loading 3s forwards;
  -webkit-animation: loading 3s forwards;
}

.downloadbtn.loading.animationResume:before {
  animation: loading2 1s forwards;
}

.downloadbtn.finished {
  background-color: #F27722;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(51, 51, 51, 1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(51, 51, 51, 1);
  box-shadow: inset 0px 0px 0px 2px #EB6203;
  color: #FFFFFF;
}

.downloadbtn.disabled,
.previewButton.disabled,
.tgaDownload.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
